# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.db
*.log

# Node
node_modules/
dist/
build/
.svelte-kit/
.next/
.nuxt/
out/

# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
(1).env
*(1)*

# OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/
